@model string

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <form asp-action="Index" method="get">
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control" name="searchText" value="@Model" placeholder="Search">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>